/* Semantic UI has these classes, however they're only applicable to*/
/* grids, containers, rows and columns.*/
/* plus, there isn't any `mobile hidden`, `X hidden` class.*/
/* this snippet is using the same class names and same approach*/
/* plus a bit more but to all elements.*/
/* see https://github.com/Semantic-Org/Semantic-UI/issues/1114*/

/* Mobile */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
 @import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Ubuntu');
p{
  line-height: 1.5em !important;
  color: rgba(0, 0, 0, 0.68) !important;
}

i{
  color: #581291  !important;
}
.icon.dropcap{
  font-size: 1.5em !important
}
.dropcap{
  font-size: 1.8em
}
.ui.secondary.pointing.menu{
  border: 0 !important;
  border-bottom-color: white !important;
  background-color: white;
  box-shadow: 0 !important;
}
.ui.colored.button.compact:hover{
  color: white !important
}
.ui.colored.button.compact{
  border: 1px !important;
  border-color: #581291 !important;
  background-color: white !important;
}
#page-3,#page-2{
  padding-top: 3%;
}
.all-round{
  box-shadow: none !important;
  border-radius: 0.28571429rem 0.28571429rem 0.28571429rem 0.28571429rem !important;
  box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75) !important;
}
.accordion{
  box-shadow: none !important
}
.borderless{
  box-shadow: none !important
}
.ui.secondary.pointing.menu .item {
  border-color:#9B51E0;
  border-bottom-width: 0px !important;
  font-size: 1.025em !important
}
.shrink{
  height: auto !important;
}
.item.colored{
  margin-left: 10px !important;
}
h4,.highlight{
  color: #581291!important;
}
.auto-margin{
  margin: auto;
}
.override-div{
  margin: 0% !important;
}
.small-text{
  font-size: 0.85em !important;
}
.adjust{
  min-width: 100% !important;
  min-height: 100% !important;
  overflow: auto;
  height: auto !important;
}
.section-card{
  background-color: #1f1531 !important;
  color: white !important;
}
.main-svg{
  height: 90%;
  width: auto;
}
.content-x{
  height: 105%;
}
.content-column{
  display: flex !important;
  vertical-align: top !important;
}
.description{
  line-height: 1.75;
}
.colored{
  color: #9B51E0 !important;
}
.colored:hover{
  background-color: #7747a3 !important;
}
.max{
  height: 100%;
  width: 100%;
}
body{
  font-family: Roboto !important;
  color: #2d2d2d !important;
  max-width: 100%;
}
p{
  font-size:1em;
}
.brand{
  padding-left: 5%
}
.full{
  height: 100% !important;
}
.zero-pad{
  padding: 0 !important;
}
.zero-pad-top{
  padding-top: 0;
}
.max-height{
  height: 100% !important;
  float: top !important;
}
.max-width{
  width: 100%;
}
.ui.centered.card{
  width: 120%;
}
.page-2{
  display: flex !important;
  align-items: flex-start !important;
  vertical-align: top !important;
}
.p-c{
  align-self: start !important;
  padding: 0px;
}
.projects{
  display: flex !important;
  align-items: flex-start !important;
}
#page-3{
  min-height: 100% !important;
}
.mobile-carousel-card{
  margin: 0 auto !important;
}


@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large screen only"]:not(.mobile),
  [class*="widescreen only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important;
  }
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  [class*="mobile only"]:not(.tablet),
  [class*="tablet hidden"],
  [class*="computer only"]:not(.tablet),
  [class*="large screen only"]:not(.tablet),
  [class*="widescreen only"]:not(.tablet),
  [class*="or lower hidden"]:not(.mobile) {
    display: none !important;
  }
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  [class*="mobile only"]:not(.computer),
  [class*="tablet only"]:not(.computer),
  [class*="computer hidden"],
  [class*="large screen only"]:not(.computer),
  [class*="widescreen only"]:not(.computer),
  [class*="or lower hidden"]:not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  [class*="mobile only"]:not([class*="large screen"]),
  [class*="tablet only"]:not([class*="large screen"]),
  [class*="computer only"]:not([class*="large screen"]),
  [class*="large screen hidden"],
  [class*="widescreen only"]:not([class*="large screen"]),
  [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  [class*="mobile only"]:not([class*="widescreen"]),
  [class*="tablet only"]:not([class*="widescreen"]),
  [class*="computer only"]:not([class*="widescreen"]),
  [class*="large screen only"]:not([class*="widescreen"]),
  [class*="widescreen hidden"],
  [class*="widescreen or lower hidden"] {
    display: none !important;
  }
}
